* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

/* Colors */
body, .read_more_button, .send_commentary_button {
    background-color: #ECE7E1;
}

#login_logout_button, #new_article_button, .read_more_button, .send_commentary_button {
    color: #333333;
}

header, footer {
    background-color: #333333;
    color: #ffffff;
}

#div_container {
    background-color: #ffffff;
    color: #333333;
}

#header_navigation_bar, #footer_bar, #login_logout_button, #new_article_button {
    background-color: #606060;
}

/* Fonts */
body, #login_logout_button, #new_article_button, .read_more_button, .send_commentary_button,
#log_form_user input, #log_form button {
    font-family: "Segoe Print", sans-serif;
}

#login_logout_button, #new_article_button, #header_navigation_bar ul li, .read_more_button, .send_commentary_button,
#log_form, #log_form button, .blog_post_info {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

/* Width */
body, header, #header_navigation_bar ul, nav,
#div_body, .blog_image img, .blog_post_info, .blog_post_date, .blog_post_tittle, .blog_post_button,
#log_form, #log_form_user {
    width: 100%;
}

#header_navigation_bar, #div_container, #footer_bar {
    width: 80%;
}

/* Height */
header div {
    height: 50%;
}

.blog_post_date, .blog_post_tittle {
    height: 10%;
}

/* Flex */
header, header div, #header_navigation_bar ul, #div_body, footer, #footer_bar,
#log_form, #log_form_user,
.blog_post, .blog_post_button {
    display: flex;
}

header, header div {
    align-items: center;
}

#header_navigation_bar ul, #div_body, footer {
    justify-content: center;
}

#header_navigation_bar ul {
    justify-content: space-evenly;
}

header, #log_form, #log_form_user {
    flex-direction: column;
}

/* Others */
header {
    position: fixed;
    height: 8rem;
}

#header_navigation_bar ul li {
    list-style: none;
}

#div_container {
    padding: 10rem 4rem 0 4rem;
}

#login_logout_button, #new_article_button {
    padding: 0.2rem 1.5rem;
    position: absolute;
    right: 2%;
    top: 10%;
    border: none;
    border-radius: 50px;
 }

#login_logout_button {
    right: 2%;
}

#new_article_button {
    left: 2%;
}

.read_more_button, .send_commentary_button, #log_form button {
    border: solid #333333 1px;
    padding: 0.1rem 0.5rem;
}

footer {
    height: 6rem;
}

#footer_bar {
    justify-content: flex-end;
    padding: 1.5rem 1rem;
    height: 4rem;
}

#log_form_user input {
    padding: 0.5rem 0.8rem;
}

#log_form_user, #log_form button {
    margin-bottom: 1rem;
}

#log_form {
    padding-bottom: 3rem;
}

#log_form button, #log_form_user input {
    width: 14rem;
}

.blog_image {
    width: 600px;
    height: 300px;
    border: solid #606060 1px;
}

.blog_image img {
    height: 100%;
}

.blog_post {
    margin-bottom: 2rem;
    height: auto;
}

.blog_post_info {
    padding-left: 2rem;
}

.blog_post_button {
    height: 15%;
    justify-content: flex-end;
}

.blog_post_little_content {
    padding: 1rem 0;
    height: 65%;
}

/* Hover */
#login_logout_button:hover, #new_article_button:hover, .read_more_button:hover, .send_commentary_button:hover, #log_form button:hover {
    background-color: #606060;
    border: solid #ffffff 1px;
    color: #ffffff;
}

#header_navigation_bar ul li:hover {
    font-weight: bold;
}

#login_logout_button:hover, #new_article_button:hover, .read_more_button:hover, #header_navigation_bar ul li:hover, .send_commentary_button:hover, #log_form button:hover {
    cursor: pointer;
}

/* ERROR */
#error_problem {
    font-size: 1.5rem;
    font-weight: bold;
    top: 0;
    position: absolute;
    height: 4rem;
    text-align: center;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

/* Responsive */
@media screen and (max-width: 1000px){
    #div_container, #header_navigation_bar, #footer_bar {
        width: 95%;
    }

}

@media screen and (max-width: 750px){
    .blog_post {
        flex-direction: column;
    }

    .blog_image {
        height: 50%;
        width: 100%;
    }
}