.one_blog_post_info{
    font-size: 1.5rem;
}

/* Width */
.one_blog_image img, .one_blog_post_info, .one_blog_post_date, .one_blog_post_tittle, .one_blog_post_button, .one_blog_image_tittle, .one_blog_post_button form {
    width: 100%;
}

/* Flex */
.one_blog_image_tittle {
    display: flex;
}

/* Others */
.one_blog_post_info {
    padding-left: 2rem;
}

.one_blog_post_button {
    height: 15%;
    justify-content: flex-end;
}

.one_blog_post_button input {
    padding: 0.3rem 1rem;
    width: 80%;
}

.one_blog_post_content {
    font-size: 1rem;
    padding: 1rem 0;
}

.commentary_div, .one_blog_post_button {
    padding: 0.5rem 0;
}

.commentary_content {
    padding: 0.5rem 2rem;
}

.commentary_div, .one_blog_post_button {
    border-top: solid #333333 1px;
}